$c-blu: #005262;
$c-gre: #8ec7b7;
$c-min: #bde5ac;
$c-lgra: #d3d4d1;
$c-gra: #565656;

// $c-blu: #233354;
// $c-kha: #BBB644;
// $c-lgray: #B9B3A3;
// $c-gra: #A59C90;
// $c-dgra: #7F7D7A;

$cl-bla: #1f2122;
$cl-gra: #575c63;
$cl-blu: #afc0d7;
$cl-lblu: #d6dde8;
$cl-whi: #f0f1f3;

$lato: 'lato',
sans-serif;