.hero__wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.2)
}

.hero__title {
    text-transform: uppercase;
    font-size: 2em;
    color: $cl-blu;
    margin-top: 3em;
}

.hero__button {
    color: $cl-gra;
    text-transform: uppercase;
    background-color: $cl-blu;
    border: none;
    padding: .8em 2em;
    transform: translateY(1.3em);
    transition: 0.2s ease-out;
}


.hero__button::after {
    position: absolute;
    content: "";
    height: .4em;
    width: .4em;
    margin: .3em 0 0 .6em;
    padding: .1em;
    border: solid $cl-gra;
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
    transition: 0.2s ease-out;
    display: none;
}

.hero__button:hover:after {
    display: inline-block;
    transition: 0.2s ease-out;
}

.hero__button:hover {
    cursor: pointer;
    filter: brightness(1.1);
    transition: 0.2s ease-out;
    padding: .8em 3em .8em 2.2em;
}

.hero__slider {
    width: 100%;
    height: 100vh;
    max-height: 680px;
    position: relative;
    overflow: hidden;
}

.slider__img {
    width: 110%;
    min-width: 980px;
    height: auto;
    filter: grayscale(.3) opacity(.95);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.slider__tit {
    z-index: 1;
    font-family: $lato;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__tit--stat {
    color: $cl-lblu;
    text-align: center;
    font-weight: 300;
    text-shadow: 0 0 6px $cl-bla;
}

.slider__tit--act {
    font-weight: 700;
    text-shadow: 0 0 6px $cl-lblu;
}

.dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%)
}

.dots span {
    display: inline-block;
    background-color: #000;
    margin: 0 20px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px white;
    cursor: pointer;
}

.dots span.active {
    background-color: grey;
    box-shadow: 0 0 3px 3px white;
}


//  CONTENT 

.content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 300;
}

.about__content {
    @extend .content;
    text-align: center;
    width: 90%;
}


.about__title {
    font-size: 2em;
    text-transform: uppercase;
    color: $c-gre;
    width: 100%;
    text-align: center;
    margin: 3em 0em;
    position: relative;
}

.about__title::after {
    content: '';
    display: block;
    position: absolute;
    width: 10%;
    height: 1px;
    top: 1.8em;
    left: 45%;
    background: $c-gre;
}

.offer__content {
    @extend .content;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}



.offer__title {
    @extend .about__title;
}

.offer__title::after {
    @extend .about__title::after
}

.offer__list {
    font-weight: 400;
    // font-size: 1.1em;
    padding: 1em;
}

.offer p:last-of-type {
    font-weight: 400;
}


.offer__capt,
.offer__grid {
    width: 50%;
    max-width: 800px;
}

.offer__grid {
    margin-right: 0;
}

.offer__capt {
    padding-left: 2em;
    padding-right: 1em;
    margin: 0 auto;
}

.offer__gallery {
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 1px;
}

.offer__gallery img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center top;
    object-position: center top;
    z-index: -1;
    transition: .2s linear;
    display: flex;
    justify-content: center;
    align-items: center;

}

.offer__img--1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.offer__img--2 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.offer__img--3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.offer__img--4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.offer__img--5 {
    grid-column: 1/3;
    grid-row: 3/4;
}

.offer__img--6 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.offer__img {
    position: relative;
}

.offer__img::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $c-gre;
    opacity: 0;
    transition: .2s linear;
}

.offer__img:hover:before {

    opacity: 0.2;
    transition: .2s linear;
}

.contact__content {
    @extend .content;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contact__title {
    @extend .about__title;
}

.contact__title::after {
    @extend .about__title::after
}

.contact__content p {
    text-align: center;
}

.contact__capt,
.contact__map {
    min-width: 100%;
    text-align: center;
    background-color: $c-gre;

}


.contact__details {
    padding-top: 2em;
    margin: auto;
    max-width: 860px;
    display: grid;
    color: white;
}

.contact__data--dt {
    grid-column: 1/2;
    grid-row: 1/2;
}

.contact__data--dd {
    grid-column: 1/2;
    grid-row: 2/3;
}

.contact__adress--dt {
    grid-column: 2/3;
    grid-row: 1/2;
}

.contact__adress--dd {
    grid-column: 2/3;
    grid-row: 2/3;
}

.contact__tel--dt {
    grid-column: 3/4;
    grid-row: 1/2;
}

.contact__tel--dd {
    grid-column: 3/4;
    grid-row: 2/3;
}

.contact__details dt {
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .4em;


}

.contact__details dd {
    font-style: italic;
    margin: 1em;
    position: relative;

}

.contact__details dd:hover {
    text-shadow: 0px 0px 1px white;

}

.contact__details dd a {
    text-decoration: none;
    color: white;


}

.contact__details dd:not(:nth-child(6)):after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 4em;
    right: -1em;
    top: 0;
    background: white;
    opacity: .4;
}

.contact__map {
    padding-bottom: 1em;
    margin-bottom: 2.8em;
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.8em;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.footer {
    background-color: white;
}

.footer__copyright {
    color: $c-gre;
    font-size: .8em;
}


.gallery__title {
    @extend .about__title;
}

.gallery__title::after {
    @extend .about__title::after
}

.gallery__photo-box {
    max-height: 20vw;
    max-width: 20vw;
    margin: 1em;
    overflow: hidden;
}

.gallery__photo:hover {
    transform: scale(1.1);
    transition: .2s linear;
}

.gallery__photo {
    height: 20vw;
    width: 20vw;
    object-fit: cover;
    object-position: center;
    transition: .2s linear;
}


// ************** MEDIA QUERIES **************

@media screen and (max-width: 960px) {
    .slider__tit {
        width: 95%;
        margin-top: 2em;
    }

    .hero__slider {
        height: 80vh;
    }

    .about__title,
    .offer__title,
    .contact__title,
    .gallery__title {
        margin-top: 1em;

    }

    .offer__grid {
        width: 45%;
    }

    .offer__img--1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .offer__img--2 {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    .offer__img--3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .offer__img--4 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .offer__img--5 {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .offer__img--6 {
        display: none;
    }

    .offer__img {
        position: relative;
    }

    .contact__content p {
        width: 95%;
    }

}

@media screen and (max-width: 768px) {
    .header__nav--disab {
        display: none;
    }

    .header__nav--active {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 5em;
        right: 0;
        width: 100%;
        padding: 0;

    }

    .header__nav--active li {
        padding: 1em 0;
        width: 100%;
        background-color: #f0f1f3;
        text-align: center;
    }

    .hero__slider {
        height: 100vh;
        width: 110%;
    }



    .slider__tit {
        font-size: 1.2em
    }


    .about,
    .offer,
    .contact,
    .gallery {
        margin-top: 1em;

    }

    .gallery {
        margin-top: 5em;


    }

    .gallery__title {
        margin: 1em 0em;
    }

    .about__title,
    .offer__title,
    .contact__title {
        margin: 3em 0em;
    }

    .offer__content {
        flex-direction: column;
    }

    .offer__capt,
    .offer__grid {
        width: 90%;
        padding: 1em;
    }

    .offer__list {
        padding: 1em 0;
    }

    .offer__gallery {

        display: flex;
        flex-direction: column;
    }

    .offer__img {
        margin: 3px 0px;
    }

    .offer__img--5,
    .offer__img--4 {
        display: none;
    }

    .contact__details {
        display: flex;
        flex-direction: column;
    }

    .offer__img::before {
        display: none;
    }

}