html {
    height: 100%;
    // height: 90%;

}

body {
    background-color: white;
    font-family: $lato;
    min-height: 100%;
    position: relative;

}

*:focus {
    outline: none;
}

.container {
    width: 90%;
    // width: 100%;
    margin: 0 auto;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.hero {
    @extend .container;
    margin-top: 0px;
    // margin-top: 75px;
    justify-content: center;
    width: 100%;
    height: 85vh;
    box-shadow: 0px 3px 10px $cl-gra;
}

.about {
    @extend .container;
    // flex-wrap: wrap;
    // justify-content: center;
    // width: 80%;

}